body {
    height: 100%;
    width: 100%;
    background: #1E1E1E;
    margin: 0px;
}

#notas {
    background-color: #1E1E1E;
    color: white;
    flex-basis:15%;
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 300px;
    margin: auto;
    border: 1px solid #2d5683;
    padding: 5px;
    border-radius: 10px;
}

#lista-notas {
    list-style-type: none;
    padding: 0;
  }
  
  #lista-notas li {
    text-align: center;
    margin: 10px 0;
    color: #9cb2b6;
  }


.li {
    border-color: #2d5683;
}
/*video en el centro*/
#video_container{
  margin: auto;
  display: none;
  align-items: center;
  justify-content: center;
}

#video {
    flex-basis: 75%;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin: 10px;

}



@keyframes border-color-change {
    0% {border-color: #5d9b9b;}
    25% {border-color: #03C03C;}
    50% {border-color: #efa94a;}
    75% {border-color: #a18594;}
    100% {border-color: #ea899a;}
}



#gallery{
    display:flex;
    flex-direction: row;
}

#gallery > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }


#gallery video:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
    border: 1px solid #2d5683;
    border-width: 3px;
  }
  
  
  
#gallery video{
    width: 500px;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 50px;
    animation: border-color-change 5s infinite;
}

h2 {
    margin-top: 30px;
    color: #9cb2b6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
    color: #FFFF;
    font-family: Arial, Helvetica, sans-serif;
  }

.img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
